In [1]:
import pandas as pd

In [8]:
df_test = pd.read_csv('msr_paraphrase_test.txt', sep='\t', header=None, skiprows = 1, names=['Quality', '#1 ID', '#2 ID', '#1 String', '#2 String'])

In [10]:
df_test.tail()

,Quality,#1 ID,#2 ID,#1 String,#2 String
1645,0,2685984,2686122,"After Hughes refused to rehire Hernandez, he c...",Hernandez filed an Equal Employment Opportunit...
1646,0,339215,339172,There are 103 Democrats in the Assembly and 47...,Democrats dominate the Assembly while Republic...
1647,0,2996850,2996734,Bethany Hamilton remained in stable condition ...,"Bethany, who remained in stable condition afte..."
1648,1,2095781,2095812,"Last week the power station’s US owners, AES C...","The news comes after Drax's American owner, AE..."
1649,1,2136244,2136052,Sobig.F spreads when unsuspecting computer use...,The virus spreads when unsuspecting computer u...

In [11]:
df_test.columns = ['paraphrase', 'id1', 'id2', 'sentence1', 'sentence2']

In [12]:
df_test.head()

,paraphrase,id1,id2,sentence1,sentence2
0,1,1089874,1089925,"PCCW's chief operating officer, Mike Butcher, ...",Current Chief Operating Officer Mike Butcher a...
1,1,3019446,3019327,The world's two largest automakers said their ...,Domestic sales at both GM and No. 2 Ford Motor...
2,1,1945605,1945824,According to the federal Centers for Disease C...,The Centers for Disease Control and Prevention...
3,0,1430402,1430329,A tropical storm rapidly developed in the Gulf...,A tropical storm rapidly developed in the Gulf...
4,0,3354381,3354396,The company didn't detail the costs of the rep...,But company officials expect the costs of the ...

Merge sentence1 and sentence2

In [18]:
df_test['text'] = df_test['sentence1']+' '+df_test['sentence2']
df_test.head()

,paraphrase,id1,id2,sentence1,sentence2,text
0,1,1089874,1089925,"PCCW's chief operating officer, Mike Butcher, ...",Current Chief Operating Officer Mike Butcher a...,"PCCW's chief operating officer, Mike Butcher, ..."
1,1,3019446,3019327,The world's two largest automakers said their ...,Domestic sales at both GM and No. 2 Ford Motor...,The world's two largest automakers said their ...
2,1,1945605,1945824,According to the federal Centers for Disease C...,The Centers for Disease Control and Prevention...,According to the federal Centers for Disease C...
3,0,1430402,1430329,A tropical storm rapidly developed in the Gulf...,A tropical storm rapidly developed in the Gulf...,A tropical storm rapidly developed in the Gulf...
4,0,3354381,3354396,The company didn't detail the costs of the rep...,But company officials expect the costs of the ...,The company didn't detail the costs of the rep...

Do the same for train data

In [14]:
df_train = pd.read_csv('msr_paraphrase_train.txt', sep='\t', header=None, skiprows = 1, names=['Quality', '#1 ID', '#2 ID', '#1 String', '#2 String'])

In [15]:
df_train.columns = ['paraphrase', 'id1', 'id2', 'sentence1', 'sentence2']

In [19]:
df_train['text'] = df_train['sentence1']+' '+df_train['sentence2']
df_train.head()

,paraphrase,id1,id2,sentence1,sentence2,text
0,1,702876,702977,"Amrozi accused his brother, whom he called ""th...","Referring to him as only ""the witness"", Amrozi...","Amrozi accused his brother, whom he called ""th..."
1,0,2108705,2108831,Yucaipa owned Dominick's before selling the ch...,Yucaipa bought Dominick's in 1995 for $693 mil...,Yucaipa owned Dominick's before selling the ch...
2,1,1330381,1330521,They had published an advertisement on the Int...,"On June 10, the ship's owners had published an...",They had published an advertisement on the Int...
3,0,3344667,3344648,"Around 0335 GMT, Tab shares were up 19 cents, ...","Tab shares jumped 20 cents, or 4.6%, to set a ...","Around 0335 GMT, Tab shares were up 19 cents, ..."
4,1,1236820,1236712,"The stock rose $2.11, or about 11 percent, to ...",PG&E Corp. shares jumped $1.63 or 8 percent to...,"The stock rose $2.11, or about 11 percent, to ..."

Create column `is_paraphrase` with true and false string values

In [22]:
df_train['is_paraphrase'] = 'false'
df_train.loc[df_train['paraphrase']==1, 'is_paraphrase'] = 'true'
df_test['is_paraphrase'] = 'false'
df_test.loc[df_test['paraphrase']==1, 'is_paraphrase'] = 'true'

In [23]:
df_train.to_csv('msr_paraphrase_train.csv', index=False)
df_test.to_csv('msr_paraphrase_test.csv', index=False)

Split `df_train` into train and valid sets

In [24]:
from sklearn.model_selection import train_test_split

df_train2, df_valid = train_test_split(df_train, test_size=0.3)

In [27]:
df_train2.to_csv('msr_paraphrase_train2.csv', index=False)
df_valid.to_csv('msr_paraphrase_valid.csv', index=False)